﻿@using PagedList.Mvc
@model MVC_DEMO2.ViewModel.ClassViewModelMVC

@{
    ViewBag.Title = "Index";
    var modelSearch = Model.SearchClassesVM;
}

<h2>Index</h2>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@using (Ajax.BeginForm("SearchCondition", "Classes",
                        new AjaxOptions
                        {
                            UpdateTargetId = "partialLoadData",
                            OnBegin = "OnBegin",
                            OnSuccess = "OnSuccess",
                            OnFailure = "OnFailure",
                            LoadingElementId = "progress"
                        },
                        new { id = "searchform" }))
{
    <div class="row">
        <div class="form-group col-lg-4">
            <label for="ClassCode">Class Code</label>
            <input type="text" class="form-control" placeholder="Class Code" name="ClassCode" value="@modelSearch.ClassCode">
        </div>
        <div class="form-group col-lg-4">
            <label for="ClassName">Class Name</label>
            <input type="text" class="form-control" placeholder="Class Name" name="ClassName" value="@modelSearch.ClassName">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Search</button>
    </div>
}
<p></p>

@Html.Partial("_PartialViewSearchClass")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/app/class/index")
}


<script type="text/javascript">
    function OnBegin() {
        showloading();
    }
    function OnSuccess(response) {
        hideloading();
    }
    function OnFailure(response) {
        debugger
        alert(response);
    }

    function showloading() {
        $('.modal').modal('show');
    }
    function hideloading() {
        $(".modal").modal('hide');
    }
</script>