﻿@model IEnumerable<MVC_DEMO2.ViewModel.Model.StudentViewModel>

@{
    ViewBag.Title = "ListStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListStudent</h2>

<table class="table">
    <tr>
        <th>
            <input type="checkbox" id="checkall" value="">
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstMidName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <input type="checkbox" name="ids" value="@item.ID" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstMidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
        </tr>
    }
</table>
