﻿@model MVC_DEMO2.ViewModel.StudentViewModelMVC

@{
    ViewBag.Title = "Index";
    var modelSearch = Model.SearchStudentVM;
    var modelStudent = Model.StudentViewModel;
}

<h2>Index</h2>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@using (Ajax.BeginForm("SearchCondition", "Students",
                        new AjaxOptions
                        {
                            UpdateTargetId = "partialLoadData",
                            OnBegin = "OnBegin",
                            OnSuccess = "OnSuccess",
                            OnFailure = "OnFailure",
                            LoadingElementId = "progress"
                        },
                        new { id = "searchform" }))
{
    <div class="row">
        <div class="form-group col-lg-4">
            <label for="StudentCode">StudentCode</label>
            <input type="text" class="form-control" placeholder="StudentCode" name="StudentCode" value="@modelSearch.StudentCode">
        </div>
        <div class="form-group col-lg-4">
            <label for="ClassId">ClassId</label>
            <input type="text" class="form-control" placeholder="ClassId" name="ClassId" value="@modelSearch.ClassId">
        </div>
        <div class="form-group col-lg-4">
            <label for="LastName">LastName</label>
            <input type="text" class="form-control" placeholder="LastName" name="LastName" value="@modelSearch.LastName">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-4">
            <label for="FirstMidName">FirstMidName</label>
            <input type="text" class="form-control" placeholder="FirstMidName" name="FirstMidName" value="@modelSearch.FirstMidName">
        </div>
        <div class="form-group col-lg-4">
            <label for="FromDate">FromDate</label>
            <input type="date" class="form-control" placeholder="FromDate" name="FromDate" value="@modelSearch.FromDate">
        </div>
        <div class="form-group col-lg-4">
            <label for="ToDate">ToDate</label>
            <input type="date" class="form-control" placeholder="ToDate" name="ToDate" value="@modelSearch.ToDate">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Search</button>
    </div>
}
<p></p>

@Html.Partial("_PartialLoading")
@Html.Partial("_ModalCreateStudent", modelStudent)
@Html.Partial("_ModalEditStudent", modelStudent)

@Html.Partial("_PartialViewSearchStudent")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/app/student/index")
}

<script type="text/javascript">
    function OnBegin() {
        showloading();
    }
    function OnSuccess(response) {
        hideloading();
    }
    function OnFailure(response) {
        alert(response);
    }

    function showloading() {
        $('#modelloading').modal('show');
    }
    function hideloading() {
        $("#modelloading").modal('hide');
    }
</script>