﻿@using PagedList.Mvc
@model MVC_DEMO2.ViewModel.ClassViewModelMVC

@{
    var listClassVM = Model.ListClassVM;
}
<div id="partialLoadData">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-lg-3">
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Classes")'">Create</button> |
                <button type="submit" class="btn btn-danger" name="action" value="DeleteSelected" onclick="return confirm('Are you sure you wish to delete selected Class?');">Delete Selected</button>
            </div>
        </div>
        <p></p>
        <table class="table">
            <tr>
                <th>
                    <input type="checkbox" id="checkall" value="">
                </th>
                <th>
                    Class Code
                </th>
                <th>
                    Class Name
                </th>
                <th></th>
            </tr>

            @foreach (var classVm in listClassVM)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="ids" value="@classVm.ID" />
                    </td>
                    <td>
                        @Html.ActionLink(classVm.ClassCode, "ListStudent", new { classId = classVm.ID })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => classVm.ClassName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = classVm.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = classVm.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = classVm.ID })
                    </td>
                </tr>
            }
        </table>
    }

    Page @(listClassVM.PageCount < listClassVM.PageNumber ? 0 : listClassVM.PageNumber) / @listClassVM.PageCount
    @Html.PagedListPager(listClassVM, page => Url.Action("Index"))
</div>
