﻿@model MVC_DEMO2.ViewModel.Model.StudentViewModel

@{
    var modelStudent = Model;
}


@{
    ViewBag.Title = "Create";
}

@using (Ajax.BeginForm("Create", "Students",
    new AjaxOptions()
    {
        HttpMethod = "POST",
        UpdateTargetId = "partialStudentId_create",
        OnBegin = "OnBegin",
        OnSuccess = "OnSuccess",
        OnFailure = "OnFailure",
        LoadingElementId = "progress"
    }))
{

    <div class="modal fade" id="createstudent-modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title"><b>Create Student</b></h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="partialStudentId_create">
                    @Html.Partial("_PartialStudent", modelStudent)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Save" />
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    function OnBegin() {
        showloading();
    }
    function OnSuccess(response) {
        hideloading();
    }
    function OnFailure(response) {
        debugger
        alert(response);
    }

    function showloading() {
        $('#modelloading').modal('show');
    }
    function hideloading() {
        $("#modelloading").modal('hide');
    }
</script>