﻿@using PagedList.Mvc
@model MVC_DEMO2.ViewModel.StudentViewModelMVC

@{
    var listStudentVM = Model.ListStudentVM;
    var modelSeach = Model.SearchStudentVM;
}
<div id="partialLoadData">
    @using (Html.BeginForm())
    {
        <p>
            <button type="button" class="btn btn-primary" onclick="processModal()">Create</button> |
            <button type="submit" class="btn btn-danger" name="action" value="DeleteSelected" onclick="return confirm('Are you sure you wish to delete selected Student?')">Delete Selected</button>
        </p>

        <table class="table">
            <tr>
                <th>
                    <input type="checkbox" id="checkall" value="">
                </th>
                <th>
                    StudentCode
                </th>
                <th>
                    LastName
                </th>
                <th>
                    FirstMidName
                </th>
                <th>
                    EnrollmentDate
                </th>
                <th></th>
            </tr>

            @foreach (var student in listStudentVM)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="ids" value="@student.ID" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => student.StudentCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => student.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => student.FirstMidName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => student.EnrollmentDate)
                    </td>
                    <td>
                        <input type="button" class="btn btn-primary" onclick="editStudent(@student.ID)" value="E">
                        <input type="button" class="btn btn-success" value="O">
                        <input type="button" class="btn btn-danger" value="X">
                    </td>
                </tr>
            }
        </table>
    }
    Page @(listStudentVM.PageCount < listStudentVM.PageNumber ? 0 : listStudentVM.PageNumber) / @listStudentVM.PageCount
    @Html.PagedListPager(listStudentVM, page => Url.Action("Index", new { page = page }))
</div>

<script type="text/javascript">
    function processModal() {
        debugger
        $("#createstudent-modal").modal("show");
    }

    function editStudent(id) {
        debugger
        //call ajax prepare form id
        var url = "https://localhost:44347/StudentsArea/Students/Edit?id=" + id;
        $.get(url, function () {
        }).done(function (data) {
            $("#partialStudentId_update").html(data);
            $("#editstudent-modal").modal("show");
        })
            .fail(function () {
                alert("error");
            })
    }
</script>