﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + @HttpContext.Current.User.Identity.Name + "!", "Index", "Home", routeValues: new {area = ""}, htmlAttributes: null)
        </li>
        <li>@Html.ActionLink("Log Off", "LogOff", "AccountCustom", routeValues: new { area = "" }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "AccountCustom", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
