﻿<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="modelloading" class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="" style="width: 48px; padding-top:50%; padding-left:50%">
            <span class="fa fa-spinner fa-spin fa-3x"></span>
        </div>
    </div>
</div>

